# Config
NEXT_PUBLIC_SENTRY_ENVIRONMENT="development"
SKIP_ENV_VALIDATION= # Set to "true" in CI/test to skip schema validation

# Auth
AUTH_SECRET= # Generate AUTH_SECRET with: openssl rand -base64 32
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
